.page-header,.page-body{
    padding-left: 16px;
    padding-right: 16px;
}
.yomi-search-input {
    border-radius: 8px;
    padding-right: 4px;
  
  }
  
  .page-content{
    margin:0 16px 16px;
    height: calc(100vh - 80px);
    border-radius: 4px;
    overflow: auto;
  }